


/* RESET FORM ELEMENTS */
.input-container input[type="date"],
.input-container input[type="text"] {
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
background: transparent;
border: none;
outline: none;
box-shadow: none;
}

/* INPUT CONTAINER  */
.input-container {
display:flex;
flex-direction: column;
width: 9em;
height: 45px;
padding: 15px 10px 10px 10px;
background: #fff;
border-radius: 8px;
filter: drop-shadow(0px 0px 3px #000);
-webkit-filter: drop-shadow(0px 0px 3px #000);
overflow: hidden;
cursor: pointer;
}

.input-container label {
position: relative;
width: 100%;
font-family: "Segoe UI";
font-weight: 600;
font-size: 11px;
letter-spacing: 0.1em;
line-height: 20px;
color: rgb(0, 255, 136);
margin-left: 2px;
text-transform: uppercase;
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
}
.input-container input {
position: relative;
align-items: center;
width: 100%;
height: auto;
font-family: "Lekton", Arial, sans-serif;
font-weight: 600;
font-size: 14px;
letter-spacing: 0.05em;
line-height: 21px;
text-transform: uppercase;
margin-left: 0px;
}

/* BUTTON CONTAINER */
.button-container {
display:flex;
align-items: center;
justify-content: center;
width: auto;
min-width: 197px;
height: 55px;
background: rgb(0, 255, 136);
border-radius: 8px;
filter: drop-shadow(0px 0px 3px #000);
-webkit-filter: drop-shadow(0px 0px 3px #000);
overflow: hidden;
cursor:pointer;
}
.button-container:hover, 
.button-container:focus {
background: rgb(0, 255, 136);
filter: drop-shadow(0px 0px 3px  rgb(0, 255, 136));
-webkit-filter: drop-shadow(0px 0px 3px  rgb(0, 255, 136));
}
/* -- button -- */
.button-container .button {
position: relative;
width: 100%;
min-height: 63px;
height:50%;
display: flex;
align-items: center;
justify-content: center;
border-radius: 7px;
background: #fff;
color: #000;
text-transform: uppercase;
letter-spacing: 1px;
font-weight: 700;
}
.button-container:hover .button:hover  {
background: #000;
color: #fff;
}
.button-container:hover .button:active  {
background: #000;
color: #fff;
background:  rgb(0, 255, 136);
filter: drop-shadow(0px 0px 3px  rgb(0, 255, 136));
-webkit-filter: drop-shadow(0px 0px 3px  rgb(0, 255, 136));
}
/* -- button ok -- */
.button-container .button.ok {
background: #131313;
color: #fff;
}
.button-container:hover .button.ok:hover {
background: #131313;
color:   rgb(0, 255, 136);
text-shadow: 0px 0px 10px  rgb(0, 255, 136);
-webkit-text-shadow: 0px 0px 10px  rgb(0, 255, 136);
}
.button-container:hover .button.ok:active  {
color: #fff;
background:  rgb(0, 255, 136);
filter: drop-shadow(0px 0px 3px #000);
-webkit-filter: drop-shadow(0px 0px 3px #000);
}

.leftPadding{
  padding: 1em;
}

  .hero-title {
    font-family: "Volkhov","DM Serif Display",cursive !important;
    font-weight: 700;
    font-size: 5rem;
    color: #181E4B;
    margin-bottom: 5px;
    position: relative;
    z-index: 1;
}

/* RESERVATION BOX */
.reservation-box {
display:flex;
flex-direction: column;
align-items: flex-start;
gap: 20px;
height: auto;
padding:5em 2em;
border-radius: 7px;

}
.reservation-box .static {
position:relative;
display: flex;
align-items: center;
float:left;
width: auto;
margin-right: 20px;
}
.reservation-box .flex {
position:relative;
display: flex;
float:left;
flex-direction: table;
align-items: center;
gap:20px;
width:auto;
}
.reservation-box .top {
display: flex;
flex-direction: table;
}
.reservation-box .bottom {
position:relative;
width: 100%;
text-align: right; 
}

.reservation-box .info {
width: auto;
color: #000;
font-weight:500;
text-decoration: none;
text-align: right;
cursor: pointer;
border-bottom: 2px solid transparent;
}
.reservation-box .info:hover,
.reservation-box .info:focus,
.reservation-box .info:active {
color: #000;
border-bottom: 2px solid rgb(0, 255, 136);
}

/* RESERVATION BOX SMALL */
.reservation-box.small, .reservation-box.small .flex {
flex-direction: column;
}
.reservation-box.small .top {
display: flex;
flex-direction: column;
gap: 20px;
}
.reservation-box.small .static {
margin-right: 0px;
} 
.reservation-box.small .bottom {
text-align: center;
}
.reservation-box.small .button-container {min-width: 217px;}

/* ------------ Testkit ------------ */
.test {
position: absolute;
top:30px;
left: 30px;
width: 66px;
height: 66px;
display: flex;
align-items: center;
justify-content: center;
border: 4px solid #000;
border-radius: 50%;
cursor: pointer;
}
.test svg {
rotate: 0deg;
}
.test svg path{
fill: #000;
}
.test:hover {
background: rgba(255,255,255,1);
}
.test.small svg {
rotate: 90deg;
}
input::placeholder {
  color: #999; /* Set the color of the placeholder text */
  font-style: italic; /* Make the text italic (optional) */
  padding: 5%;
}

.country-select {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
