.trip-container{
    min-height: 150vh;
    padding: 7vh;
}
.trip-container a {
    transition: all 0.100s ease-out;
    color: #e74c3c;
  }
  .toggle-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease; /* You can adjust the duration for smoother or faster transition */
  }
  
  .toggle-content.visible {
    max-height: 1000px; /* Adjust this value based on your content's maximum height */
  }
  
  .trip-card {
    background-image: linear-gradient(to bottom, #fff 0%, #ecf0f1 100%);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
    display: block;
    position: relative;
    padding: 20px;
  }
  
  .trip-card .trip-card-modal {
    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
    border-radius: 10px;
    background-color: #bdc3c7;
    color: white;
    display: none;
    position: absolute;
    top: 40px;
    left: 130px;
    z-index: 2;
  }
  
  .trip-card .trip-card-modal.active {
    left: 140px;
  }
  
  .trip-card .trip-card-modal:before {
    content: "";
    border-style: solid;
    border-width: 15px 15px 15px 0;
    border-color: transparent #bdc3c7 transparent transparent;
    width: 0;
    height: 0;
    display: block;
    position: absolute;
    top: 20%;
    left: -15px;
  }
  
  .trip-card .trip-card-image {
    position: absolute;
    top: 20px;
    left: 20px;
  }
  
  .trip-card .trip-card-image .btn {
    border-radius: 50px;
    background-position: -45px 0;
    background-repeat: no-repeat;
    background-size: cover;
    border: 0;
    cursor: pointer;
    width: 100px;
    height: 100px;
    overflow: hidden;
    position: absolute;
    padding: 0;
  }
  
  .trip-card .trip-card-image .btn:after {
    content: "";
    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
    border-radius: 50px;
    border: rgba(255, 255, 255, 0.4) 50px solid;
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
  }
  
  .trip-card .trip-card-image .btn:hover:after {
    border-width: 0;
  }
  
  .trip-card .trip-card-image .btn img {
    display: none;
  }
  
  .trip-card .trip-card-info {
    margin-left: 120px;
  }
  
  .trip-card .trip-card-info .trip-name {
    font-size: 28px;
    font-weight: 100;
    display: inline-block;
    vertical-align: top;
    position: relative;
  }
  
  .trip-card .trip-card-info hr {
    margin: 0 0 15px;
  }
  
  
  /* Add this CSS to your stylesheet */
.strikethrough {
    text-decoration: line-through;
    color: #999; /* Change the color as desired */
  }
  
  /* Style for the table and headings */
  .trip-container table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ddd;
    margin-top: 10px;
  }
  
  .trip-container th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
  }
  
  .trip-container th {
    background-color: #f2f2f2;
    font-weight: bold;
    color: #333;
  }
  
  /* Style for the checkboxes */
  .trip-container input[type="checkbox"] {
    display: none;
  }
  
  .trip-container  label {
    display: inline-block;
    position: relative;
    padding-left: 25px;
    cursor: pointer;
    user-select: none;
  }
  
  .trip-container  label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 2px;
    width: 16px;
    height: 16px;
    border: 1px solid #ccc;
    background-color: #fff;
  }
  
  .trip-container  input[type="checkbox"]:checked + label:before {
    content: '\2713'; /* Checkmark symbol */
    text-align: center;
    line-height: 16px;
    font-size: 14px;
    color: #333; /* Color of the checkmark */
    background-color: #fff;
  }
  .trip-container h2{
    font-weight: bold;

  }
  .centerCities{
    text-align: center;
    justify-content: center;
    padding: 2vh;
  }